<section class="section pricing-sec">
    <div class="container-fluid px-0">
        <div class="section-title"          pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown">
            {{"Automate Support & Sales with Al" |translate }}
            <br>
            {{"That Grows Your Business." | translate }}

        </div>
        <div class="section-p"          pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown">
            {{"Convert leads, resolve queries, and boost sales-all on autopilot" | translate }}
        </div>
        <div class="card pricing" >
            <div class="row">
                <div class="col-md-6" pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown">
                    <div class="what-include">
                        <div class="title">{{"What's Include" | translate }} :</div>
                        <ul>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"1 User Account" | translate }}</span>
                            </li>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"Al-Powered Support" | translate }}</span>
                            </li>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"24/7 Chatbot Access" | translate }}</span>
                            </li>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"Access to essential customer service" | translate }}.</span>
                            </li>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"Easy setup with minimal configuration" | translate }}.</span>
                            </li>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"Track customer interactions and performance" | translate }}.</span>
                            </li>

                        </ul>
                        <div class="package-feature">
                            <span>{{"Automate basic customer support efficiently" | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"pAnimateOnScroll
  enterClass="animate__animated animate__fadeInUp"
  leaveClass="animate__animated animate__fadeInUp">
                    <div class="second-part">
                        <div class="padge-price">
                            <span>{{"Recommended" | translate }}</span>
                        </div>
                        <div class="icon"><span class="pi pi-address-book"></span></div>
                        <div class="title">{{"Basic Plan" | translate }}</div>
                        <div class="txt">{{"Perfect for startups and small businesses" | translate }}.</div>
                        <div class="txt"></div>
                        <p-divider type="dashed" />
                        <!-- <hr class="dashed-divider"> -->
                        <div class="plan-price">
                            <span class="price"> $2.900</span>
                            <span class="price-per"> /{{"month" | translate }}</span>
                        </div>
                        <p-button label="{{'Book A Demo' | translate }}" [rounded]="true" severity="info"
                            class="btn-block" />
                        <div class="val-text">{{"Pause or cancel anytime" | translate }}.</div>


                    </div>
                </div>
            </div>
        </div>
        <div class="card pricing">
            <div class="row">
                <div class="col-md-6" pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown">
                    <div class="what-include">
                        <div class="title">{{"What's Include" | translate }} :</div>
                        <ul>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"1 User Account" | translate }}</span>
                            </li>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"Al-Powered Support" | translate }}</span>
                            </li>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"24/7 Chatbot Access" | translate }}</span>
                            </li>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"Access to essential customer service" | translate }}.</span>
                            </li>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"Easy setup with minimal configuration" | translate }}.</span>
                            </li>
                            <li>
                                <span class="pi pi-check"></span>
                                <span class="txt">{{"Track customer interactions and performance" | translate }}.</span>
                            </li>

                        </ul>
                        <div class="package-feature">
                            <span>{{"Automate basic customer support efficiently" | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"pAnimateOnScroll
  enterClass="animate__animated animate__fadeInUp"
  leaveClass="animate__animated animate__fadeInUp">
                    <div class="second-part">
                        <div class="icon"><span class="pi pi-chart-line"></span></div>
                        <div class="title">{{"Pro Plan" | translate }}</div>
                        <div class="txt">{{"Perfect for startups and small businesses" | translate }}.</div>
                        <div class="txt"></div>
                        <p-divider type="dashed" />
                        <!-- <hr class="dashed-divider"> -->
                        <div class="plan-price">
                            <span class="price"> $4.900</span>
                            <span class="price-per"> /{{"month" | translate }}</span>
                        </div>
                        <p-button label="Book A Demo" [rounded]="true" severity="info" class="btn-block" />
                        <div class="val-text">{{"Pause or cancel anytime" | translate }}.</div>


                    </div>
                </div>
            </div>
        </div>


    </div>
</section>