

<!-- ***************************************************************************************** -->
<div class="hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6"  pAnimateOnScroll
  enterClass="animate__animated animate__fadeInBottomRight"
  leaveClass="animate__animated animate__fadeInBottomRight">
                <div class="hero-content">
                    <div class="part1">
                        <div class="h1">
                            {{"AI" | translate }}
                            <span>
                                {{"library involving review of issue tickets PRO support." | translate }}
                            </span>
                        </div>
                        <p class="p-hero">
                            {{"Advanced visual theme designer with support for the entire design token set, Figma to
                            code and cloud storage." | translate }}
                        </p>
                        <p-button label="{{'Book A Demo' | translate }}" icon="pi pi-arrow-right" iconPos="right"
                            [rounded]="true" severity="info" />
                    </div>
                    <div class="plus-features">
                        <ul>
                            <li><span class="pi pi-plus"></span> <span>{{"Al Support Made Simple " | translate }}</span>
                            </li>
                            <li><span class="pi pi-plus"></span> <span>{{"Boost Sales Effortlessly " | translate
                                    }}</span></li>
                            <li><span class="pi pi-plus"></span> <span>{{"Automate Business Growth" | translate }}
                                </span></li>
                            <li><span class="pi pi-plus"></span> <span>{{"Smart Al Support Solutions" | translate }}
                                </span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6" pAnimateOnScroll
  enterClass="animate__animated animate__fadeInBottomLeft"
  leaveClass="animate__animated animate__fadeInBottomLeft">
                <div class="img-side" >
                    <!-- <img src="./imgs/hero.jpg" alt=""> -->
                    <div class="bg-img-container">
                        <div class="microphone-block">
                            <div class="overlay">
                                <span class="pi pi-microphone"></span>
                                <span class="txt"> {{"Your Smart Voice Assistant Helper" | translate }}</span>
                                <p-button label="{{'Start Recording'|translate}}" variant="text" [raised]="true"
                                    severity="secondary" />
                            </div>

                        </div>
                        <div class="bg-img-cnt-title">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="bg-txt">
                                        {{"Trusted by 100+ businesses." | translate }}
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <ul class="my-1">
                                        <li><span class="pi pi-discord"></span></li>
                                        <li><span class="pi pi-android"></span></li>
                                        <li><span class="pi pi-bitcoin"></span></li>
                                        <li><span class="pi pi-bullseye"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>