<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="footer-p">
                        {{"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, fugiat! Aspernatur dolore, perspiciatis voluptatibus pariatur exercitationem at qui distinctio dolorum!" |translate}}
                      
                    </div>

                    <div class="footer-social">
                        <div class="follow-text">
                            {{"follow us an visit our"|translate}} :-
                        </div>
                        <div class="social-lnks">
                            <ul>
                                <li><a href="" class="social-link"><span class="pi pi-facebook"></span></a></li>
                                <li><a href="" class="social-link"><span class="pi pi-twitter"></span></a></li>
                                <li><a href="" class="social-link"><span class="pi pi-instagram"></span></a></li>
                                <li><a href="" class="social-link"><span class="pi pi-whatsapp"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="footer-links-title">{{"company"|translate}} </div>
                            <ul>
                                <li><a href="" class="ftr-link">{{"our story "|translate}} </a></li>
                                <li><a href="" class="ftr-link">{{" Mission & vision"|translate}} </a></li>
                                <li><a href="" class="ftr-link">{{"our values"|translate}} </a></li>
                                <li><a href="" class="ftr-link">{{"our news"|translate}} </a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-links-title">{{"Products and services"|translate}} </div>
                            <ul>
                                <li><a href="" class="ftr-link">{{"our story"|translate}}  </a></li>
                                <li><a href="" class="ftr-link">{{" Mission & vision"|translate}} </a></li>
                                <li><a href="" class="ftr-link">{{"our values"|translate}} </a></li>
                                <li><a href="" class="ftr-link">{{"our news"|translate}} </a></li>
                            </ul>
                       </div>
                        <div class="col-md-4">
                            <div class="footer-links-title">{{"resources"|translate}} </div>
                            <ul>
                                <li><a href="" class="ftr-link">{{"our story"|translate}}  </a></li>
                                <li><a href="" class="ftr-link">{{" Mission & vision"|translate}} </a></li>
                                <li><a href="" class="ftr-link">{{"our values"|translate}} </a></li>
                                <li><a href="" class="ftr-link">{{"our news"|translate}} </a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="copyright">{{"all copyrights reserved "|translate}} <a href="" class="cpr-link"></a></div>

        </div>
    </div>
</footer>