
<div class="srch-container animate__animated animate__zoomInDown-- animate__jackInTheBox " >
    <a class="close-btn" (click)="onClickHandlerremove()"><i class="pi pi-times"></i> </a>

   <div class="container">
    
     <p-iconfield class=" animate__animated animate__zoomInDown">
        <p-inputicon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="{{'Search' |translate }}"  class="form-control form-control-lg"/>
    </p-iconfield>


    <p-button class=" animate__animated animate__zoomInDown"
        label="{{'Search' |translate }}"   severity="contrast"  />



   </div>

</div>