<section class="section services">
    <div class="container-fluid">
        <div class="section-title"  pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown">
            {{"Automate Support & Sales with Al" | translate }}
            <br>
            {{"That Grows Your Business" | translate }}.

        </div>
        <div class="section-p"           pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown">
            {{"Convert leads, resolve queries, and boost sales-all on autopilot" | translate }}.
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card service"          pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown" >
                    <div class="service-img">
                        <img src="./imgs/test/Banner.png" alt="">
                    </div>
                    <div class="service-title">
                        {{"E-Commerce" | translate }}
                    </div>
                    <div class="service-sub-title">
                        {{"Al engages visitors, qualifies leads & answers FAQs" | translate }}.
                    </div>
                </div>

                <div class="card service"           pAnimateOnScroll
  enterClass="animate__animated animate__fadeInUp"
  leaveClass="animate__animated animate__fadeInUp">
                    <div class="service-img">
                        <img src="./imgs/test/2.png" alt="">
                    </div>
                    <div class="service-title">
                        {{"SaaS" | translate }}
                    </div>
                    <div class="service-sub-title">
                        {{"Al engages visitors, qualifies leads & answers FAQs" | translate }}.
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card service" pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown">
                    <div class="service-img">
                        <img src="./imgs/test/3.png" alt="">
                    </div>
                    <div class="service-title">
                        {{"Agencies" | translate }}

                    </div>
                    <div class="service-sub-title">
                        {{"Al automates client onboarding & support" | translate }}.
                    </div>
                </div>

                <div class="card service"pAnimateOnScroll
  enterClass="animate__animated animate__fadeInUp"
  leaveClass="animate__animated animate__fadeInUp">
                    <div class="service-img">
                        <img src="./imgs/test/4.png" alt="">
                    </div>
                    <div class="service-title">
                        {{"Service Businesses" | translate }}

                    </div>
                    <div class="service-sub-title">
                        {{"Al schedules appointments & manages inquiries" | translate }}.
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>