footer {
    background: var(--dal-primary-light); /*new style */
    padding: 2em 0;
    padding-right: var(--pc-padding-container);
    padding-left: var(--pc-padding-container);
}

.copyright {
    padding: var(--pc-padding-container) 0;
    text-align: center;
}

.social-lnks ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin-top: calc(2 * var(--padding-10));

}

.social-lnks ul li a.social-link {
    padding: 15px;
    background: #f7f7f7;
    border-radius: var(--border-circle);
    display: block;
}
    
.social-lnks ul li {
    padding-right: 15px;
}

a.social-link .pi {
    font-size: 1.5em;
}

.footer-links-title {
    font-weight: bold;
    margin-bottom: var(--padding-10);
}

.footer ul:has(li a.ftr-link) {
    list-style: none;
    padding: 0;
}

.footer ul li a.ftr-link {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-social {
    margin: 2em auto;
}
a.social-link {
    color: #000;
}

a.social-link:hover {
    color: var(--dal-color-icon-primary);
}