<section class="section pt-0 support-sec" pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown">
    <div class="container-fluid">
          <div class="row">
        <div class="col-md-7">
        <div class="first-part">
      
            <div class="section-title" pAnimateOnScroll
  enterClass="animate__animated animate__fadeInBottomRight"
  leaveClass="animate__animated animate__fadeInBottomRight">
                {{"Start Automating Support & Sales with Al Today" | translate }}
                <span class="pi pi-gift"></span>
            </div>
            <div class="section-p"pAnimateOnScroll
  enterClass="animate__animated animate__fadeInBottomRight"
  leaveClass="animate__animated animate__fadeInBottomRight">
                {{"Drive more conversions and scale your business effortlessly" | translate }}.
            </div>
            <p-button label="{{'Book A Demo' | translate }}" icon="pi pi-arrow-right" iconPos="right" [rounded]="true" severity="info" />

        </div>
        </div>
         <div class="col-md-5">
        <div class="second-part">
            <div class="adres">
                <div class="title">{{"Address" | translate }}</div>
                <div class="address-p" pAnimateOnScroll
  enterClass="animate__animated animate__fadeInBottomLeft"
  leaveClass="animate__animated animate__fadeInBottomLeft">
                    {{"Al Solutions" | translate }} 
                    <br>
                    {{"123 Barcelona Avenue Eixample" | translate }} 
                    <br>
                    {{"District Barcelona, Spain" | translate }}
                </div>

                <br>
                 <div class="adres"pAnimateOnScroll
  enterClass="animate__animated animate__fadeInBottomLeft"
  leaveClass="animate__animated animate__fadeInBottomLeft">
                <div class="title">{{"Email" | translate }}</div>
                <div class="adees-p">mail[at]mail.mail</div>
            </div>
            </div>
           
            </div>
            </div>
        </div>
    </div>
</section>