<section class="section features">
    <div class="container-fluid">
        <div class="section-title"
          pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown">
            {{"our automate support and AI features that will grow your business" | translate }}
        </div>
        <div class="section-p"  pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown">
            {{"Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam accusantium minus aliquam nostrum nesciunt
            modi?" | translate }}
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card feature"
                pAnimateOnScroll
  enterClass="animate__animated animate__fadeInBottomRight"
  leaveClass="animate__animated animate__fadeInBottomRight">
                    <div class="feaure-img">
                        <img src="./imgs/0/01.png" alt="">
                    </div>
                    <div class="feature-title">
                        {{"Al engages visitors, qualifies leads & answers FAQs." | translate }}
                    </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="card feature" pAnimateOnScroll
  enterClass="animate__animated animate__fadeIn"
  leaveClass="animate__animated animate__fadeOut">
                    <div class="feaure-img">
                        <img src="./imgs/0/02.png" alt="">
                    </div>
                    <div class="feature-title">
                        {{"Al assists in sales conversations & closes deals." | translate }}
                    </div>
                </div>
            </div>
            <div class="col-md-4" >
                <div class="card feature" pAnimateOnScroll
  enterClass="animate__animated animate__fadeInBottomLeft"
  leaveClass="animate__animated animate__fadeInBottomLeft">
                    <div class="feaure-img">
                        <img src="./imgs/0/03.png" alt="">
                    </div>
                    <div class="feature-title">
                        {{"Al integrates with your CRM & automates follow-ups." | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>