<section class="section pt-0 integation-sec"  pAnimateOnScroll
  enterClass="animate__animated animate__fadeInDown"
  leaveClass="animate__animated animate__fadeInDown"
>
    <div class="container-fluid">
        <div class="col-md-6">

            <div class="section-title" pAnimateOnScroll enterClass="animate__animated animate__fadeInDown"
                leaveClass="animate__animated animate__fadeInDown">
                {{"Integrations: Works with Your Existing Tools" | translate }}

            </div>
            <div class="section-p" pAnimateOnScroll enterClass="animate__animated animate__fadeInUp"
                leaveClass="animate__animated animate__fadeInUp">
                {{"Seamlessly integrate with your favorite tools - [CRM], [Live Chat], [WhatsApp], and more for a
                smoother, more connected experience." | translate }}
            </div>

            <p-button label="{{'Book A Demo' | translate }}" icon="pi pi-arrow-right" iconPos="right" [rounded]="true"
                severity="info" pAnimateOnScroll enterClass="animate__animated animate__fadeInUp"
                leaveClass="animate__animated animate__fadeInUp" />
        </div>
    </div>
</section>